<div class="app-main__outer" style="min-width: 98vw;">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <img [src]="post?.user_details?.display_image" alt="" style="width: 80px; height: 80px;margin: -15px;">
          </div>
          <div>{{post?.title}}
            <div class="page-title-subheading">{{post?.summary}}
            </div>
          </div>
        </div>
        <div class="page-title-actions">
          <div class="d-inline-block dropdown">
            <button type="button" class="btn-shadow btn btn-info" (click)="likePost()" *ngIf="isLoggedIn() && !liked">
              <i class="metismenu-icon pe-7s-like">
              </i>

            </button>
            <button type="button" class="btn-shadow btn btn-warning" *ngIf="isLoggedIn() && liked">
              <i class="metismenu-icon pe-7s-like">
              </i>

            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-5">
    {{ post?.content }}
  </div>
</div>
