<div class="app-main__outer" style="min-width: 98vw;">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <img [src]="post?.user_details?.display_image" alt="" style="width: 80px; height: 80px;margin: -15px;">
          </div>
          <div>{{post?.title}}
            <div class="page-title-subheading">{{post?.summary}}
            </div>
            <button class="btn btn-outline-secondary mt-2" routerLink="/community">Back</button>
          </div>
        </div>
        <div class="page-title-actions">
          <div class="d-inline-block dropdown">
            <button type="button" class="btn-shadow btn btn-transparent" (click)="likePost()"
              *ngIf="isLoggedIn() && !liked" style="font-size: 1.3rem;">
              <i class="metismenu-icon pe-7s-like" style="font-weight: bolder;">
              </i>
              {{numberOfLikes}}
            </button>
            <button type="button" class="btn-shadow btn btn-transparent" *ngIf="isLoggedIn() && liked" style="font-size: 1.3rem;">
              <i class="fa fa-heart" style="font-weight: bold;color: red;font-size: 1.3rem;">
              </i>
              {{numberOfLikes}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-5" [innerHTML]="post?.content">
  </div>
</div>
