<div class="app-main__outer" style="min-width: 98vw;">
  <div class="app-main__inner">
    <div class="row">
      <div class="col-md-12 col-lg-12 text-center">
        <div class="main-card m5 mb-3 m-auto card">
          <div class="card-body">
            <h5 class="card-title">Make a Post</h5>
            <div>
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Title</span></div>
                <input type="text" #title class="form-control">
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Summary</span></div>
                <input type="text" #summary class="form-control">
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Content</span></div>
                <input type="text" #content class="form-control">
              </div>
              <br>
              <div class="input-group">
                <button class="btn btn-secondary"
                  (click)="createPost(title.value, summary.value, content.value)">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
