<app-loading *ngIf="loading"></app-loading>

<div class="app-main__outer" *ngIf="!loading">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="pe-7s-car icon-gradient bg-mean-fruit">
            </i>
          </div>
          <div>Dashboard
            <div class="page-title-subheading">Manage Your Profile.
            </div>
          </div>
        </div>
        <div class="page-title-actions">
          <div class="d-inline-block dropdown">
            <button type="button" class="btn-shadow btn btn-info" routerLink="/edit">
              Manage Your Account
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-4">
        <div class="card mb-3 widget-content bg-premium-dark">
          <div class="widget-content-outer text-white">
            <div class="widget-content-wrapper">
              <div class="widget-content-left">
                <div class="widget-heading">Power Level</div>
                <div class="widget-subheading text-capitalize">{{profile?.power_level}}</div>
              </div>
              <div class="widget-content-right">
                <div class="widget-numbers text-warning">{{ profile?.power_level_rating }}%</div>
              </div>
            </div>
            <div class="widget-progress-wrapper">
              <div class="progress-bar-xs progress-bar-animated-alt progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100" [style.width]="profile?.power_level_rating + '%'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4">
        <div class="card mb-3 widget-content">
          <div class="widget-content-outer">
            <div class="widget-content-wrapper">
              <div class="widget-content-left">
                <div class="widget-heading">Ranking</div>
                <div class="widget-subheading text-capitalize">{{profile?.ranking}}</div>
              </div>
              <div class="widget-content-right">
                <div class="widget-numbers text-success">{{ profile?.ranking_rating }}%</div>
              </div>
            </div>
            <div class="widget-progress-wrapper">
              <div class="progress-bar-xs progress">
                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                  aria-valuemax="100" [style.width]="profile?.ranking_rating + '%'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-midnight-bloom">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">Posts</div>
              <div class="widget-subheading">Number of Posts</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>{{profile?.number_of_posts}}</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">LIKES</div>
              <div class="widget-subheading">Total Number of Post Likes</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>{{ profile?.number_of_likes }}</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <div class="widget-heading">STARS</div>
              <div class="widget-subheading">Number of stars</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>{{ profile?.number_of_stars }}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="mb-3 card">
          <div class="card-header-tab card-header-tab-animation card-header">
            <div class="card-header-title">
              <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
              Projects
            </div>
          </div>
          <div class="card-body">
            <div id="accordion" class="accordion-wrapper mb-3">
              <div class="card" *ngFor="let project of projects; let i = index">
                <div id="headingOne" class="card-header">
                  <button type="button" data-toggle="collapse" attr.data-target="#collapseOne{{i}}" aria-expanded="true"
                    aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                    <h5 class="m-0 p-0">{{ project?.name }}</h5>
                  </button>
                </div>
                <div data-parent="#accordion" [id]="'collapseOne'+ i.toString()" aria-labelledby="headingOne"
                  class="collapse">
                  <div class="card-body">
                    {{ project?.summary }}
                    <br />
                    <a target="blank" [href]="project?.project_url"><button class="btn btn-primary">View</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="mb-3 card">
          <div class="card-header-tab card-header">
            <div class="card-header-title">
              <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
              Display Card
            </div>
          </div>
          <div class="main-card m-4 mb-3 card">
            <div class="card-body">
              <h5 class="card-title">{{ profile?.username }}</h5>
              <h6 class="mb-0 card-subtitle text-capitalize">{{ profile?.role }}</h6>
            </div>
            <img width="100%" [src]="profile?.display_image" alt="Card image cap">
            <div class="card-body">
              {{ profile?.status }}
            </div>
            <button disabled class="btn btn-primary">Take a Peek</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-wrapper-footer">
    <div class="app-footer">
      <div class="app-footer__inner">
        <div class="app-footer-left">

        </div>
        <div class="app-footer-right">
          <ul class="nav">
            <li class="nav-item">
              <a target="blank" href="https://twitter.com/phirmware" class="nav-link">
                Hola @phirmware
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
