<app-loading *ngIf="loading"></app-loading>

<div class="app-main__outer" *ngIf="!loading">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="pe-7s-stopwatch icon-gradient bg-amy-crisp">
            </i>
          </div>
          <div>Meet The Members
            <div class="page-title-subheading">Members of codeclub registered on this platform.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let member of members">
        <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
          class="btn-shadow mr-3 btn btn-dark" (click)="starAUser($event, member?._id)" *ngIf="isLoggedIn()">
          <i class="fa fa-star" (click)="bubble($event, member?._id)"></i>
        </button>
        <div class="main-card mb-3 card">
          <div class="card-body">
            <h5 class="card-title">{{ member?.username }}</h5>
            <h6 class="mb-0 card-subtitle">{{ member?.role }}</h6>
          </div>
          <img width="100%" [src]="member?.display_image" alt="Card image cap">
          <div class="card-body">
            {{ member?.status }}
          </div>
          <button class="btn btn-primary" routerLink="/members/{{ member?.username }}">Take a Peek</button>
        </div>
      </div>
    </div>
  </div>
